In [ ]:
#Create local file with the following data

Complete the following code using pyspark RDDs

movie.csv
movieId,moviename,director,year
200,shawshank,FrankD,1994
201,saw,JamesW,2004
202,avengers,JossW,2012
204,mi,ChristopherMcq,2018
205,wrongturn,DeclanO,2011

award.csv
catalogId,movieId,awards
11,200,2
12,200,3
13,201,1
14,202,3
15,202,5
16,204,4
17,205,1

In [ ]:
#Import libraries & Create SparkSession

In [ ]:
#Create two dataframes using respective csv files from local storage

In [ ]:
#Create a new column called "movieInfo" in movies dataframe which includes movieName & Director

In [ ]:
#Calculate total number of awards for each movie & display - movieID, movienName, awardsCount

In [ ]:
#Get top three movies on the basis of number of awards

In [ ]:
#Get top three latest movies